.task_list_wrapper {
  font-size: 24px;
  font-weight: 600;
  color: #f6df45;
  width: 60%;
}

@media only screen and (min-width: 1100px) {
  .task_list_wrapper {
    width: 60%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .task_list_wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .task_list_wrapper {
    width: 90%;
  }
}
