/* @font-face {
  font-family: "Ubuntu";
  src: url("/fonts/UbuntuCondensed-Regular.ttf") format("truetype");
} */

.nav_container {
  display: flex;
  flex-direction: column;
  margin: 48px 0px;
}

.nav_container_row {
  display: flex;
  flex-direction: column;
  margin: 48px 0px;
}

.nav_link_wrapper {
  border: 1px solid #999;
  padding: 12px 36px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.nav_link {
  text-decoration-line: none;
  color: white;
}
